$very-dark-grey: #333;
$dark-grey: #555;
$grey: #888;
$light-grey: #CCC;
$very-light-grey: #D8D8D8;
$white: #FFF;
$red: #900;

$layout-max-width: 1024px;
$layout-breakpoint: 720px;

$header-bg-colour: $very-dark-grey;
$header-text-colour: $white;

$footer-bg-colour: $very-dark-grey;
$footer-text-colour: $white;

$success-bg-colour: #3C3;
$success-text-colour: #111;

$form-bg-colour: #F0F0F0;
$form-error-colour: $red;

$form-button-bg-colour: #003;
$form-button-text-colour: $white;

$table-border-colour: $grey;
$table-header-bg-colour: $light-grey;
$table-alt-row-bg-colour: $very-light-grey;

$delete-bg-colour: $red;
$delete-text-colour: $white;
